:host(.book-card-container) {
  display: block;
  transition: all 0.3s ease-out;
  &:hover {
    transform: translateY(-0.8rem);
  }
}

.card-container {
  width: 10rem;
  height: 20rem;
  display: flex;
  flex-direction: column;

  align-items: center;
  border-radius: 10px;
  gap: 1rem;
  padding: 1rem;
  background: linear-gradient(
    180deg,
    rgb(252, 233, 239) 0%,
    rgba(247, 247, 247, 1) 40%
  );
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  .img-container {
    width: 100%;
    height: 70%;

    .icons {
      position: relative;
      right: -110px;
      top: -120px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 30px;
      height: 30px;
      .icon-box {
        padding-top: 0.2rem;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c499f3;
        border-radius: 5px;
        cursor: pointer;
        .search {
          transform: scale(0.8);
        }
        .cart {
          transform: scale(0.8);
        }
      }
    }
    img {
      border-radius: 10px;
      width: 100%;
      min-height: 200px;

      // padding: 0.5rem 1rem;
    }
  }

  .book-details-container {
    padding-right: 0.2rem;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.1rem;
    .book-author {
      font-size: 0.8rem;
      color: rgb(214, 213, 213);
    }
    .book-title {
      width: calc(17rem / 2 - 0.2rem - 1rem);
      height: 80%;
      font-size: 0.9rem;
      font-weight: 700;
      color: rgb(84, 83, 83);
      //handle multiline text overflow
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .bottom-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 20%;
      .book-price {
        color: gray;
        font-size: 0.7rem;
      }
      .cart {
        cursor: pointer;
        width: fit-content;
      }
    }
  }
}
