$primary-color: navy;
$desktop: 1025px;
$mobile: 768px;

:host(.books-menagement-grid) {
  display: block;
}

.books-grid {
  min-height: 10%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 157px) min-content min-content;
  grid-template-rows: min-content 1fr;
  border: 2px solid rgba(211, 211, 211, 0.659);
  border-radius: 0.3rem;
  row-gap: 1px;

  background-color: rgb(236, 250, 254);
  @media (min-width: $desktop) {
    grid-template-columns: repeat(8, 1fr);
  }
  .header {
    justify-self: start;
    align-self: center;
    font-weight: bold;
    padding: 0.3rem;
  }
  img {
    padding: 0.5rem;
    width: 200px;
    height: 100%;
  }

  .item {
    background-color: white;
    min-height: 4rem;
    padding: 0.3rem;
    width: 100%;
  }
  .item.description {
    overflow: hidden;
    //this next two will hide and put 3 dots for the overflow
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover {
      transform: scale(1.05);
    }
  }
  .actions-container {
    margin-bottom: 0.3rem;
    justify-self: center;
    align-self: center;
    button {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
  overflow: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
    height: 1px;
  }
  &:hover {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: lightgray;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
