<ul class="pagination-bar">
  <button
    [ngClass]="{ 'page-box': true, actions: true, disabled: currentPage == 1 }"
    (click)="currentPage > 1 ? changedPageNumber.emit(currentPage - 1) : null"
    [disabled]="currentPage == 1 "
  >
    Prev
  </button>
  <li
    *ngFor="let page of pages; let index = index"
    [ngClass]="{ 'page-box': true, 'active-class': currentPage === page }"
  >
    <span class="page" (click)="changedPageNumber.emit(page)">{{ page }}</span>
  </li>
  <button
    [ngClass]="{
      'page-box': true,
      actions: true,
      disabled: currentPage >= totalPages
    }"
    (click)="
      currentPage < totalPages ? changedPageNumber.emit(currentPage + 1) : null
    "
    [disabled]="currentPage >= totalPages"
  >
    Next
  </button>
</ul>
