<div class="modal-container">
  <div class="title-container">
    <h2>{{ isAddAction ? "Add" : "Edit" }} Book!</h2>
    <button class="close-modal-btn" (click)="handleCloseModalButton()">
      X
    </button>
  </div>

  <form
    class="form"
    [formGroup]="bookForm"
    (ngSubmit)="handleSubmitEditBookForm()"
  >
    <div class="form-control">
      <label for="title">Title</label>
      <input
        formControlName="title"
        type="text"
        placeholder="Title"
        id="title"
      />
      <app-error-message
        *ngIf="
          this.bookForm.get('title')?.invalid &&
          this.bookForm.get('title')?.touched
        "
        [error]="invalidTitleMessage()"
      ></app-error-message>
    </div>

    <div class="form-control">
      <label for="releaseDate">Release Date</label>
      <input
        formControlName="releaseDate"
        type="date"
        placeholder="Release Date"
        id="releaseDate"
      />
      <app-error-message
        *ngIf="
          isAddAction &&
          this.bookForm.get('releaseDate')?.invalid &&
          this.bookForm.get('releaseDate')?.touched
        "
        error="Must enter a Release Date"
      ></app-error-message>
    </div>

    <div class="form-control">
      <label for="description">Description</label>
      <textarea
        formControlName="description"
        type="text"
        placeholder="Description"
        id="description"
      ></textarea>
      <app-error-message
        *ngIf="
          this.bookForm.get('description')?.invalid &&
          this.bookForm.get('description')?.touched
        "
        [error]="invalidDescMessage()"
      ></app-error-message>
    </div>

    <div class="form-control">
      <label for="author">Author</label>
      <input
        formControlName="author"
        type="author"
        placeholder="Author"
        id="author"
      />
      <app-error-message
        *ngIf="
          isAddAction &&
          this.bookForm.get('author')?.invalid &&
          this.bookForm.get('author')?.touched
        "
        [error]="'Must Enter A Author'"
      ></app-error-message>
    </div>

    <div class="form-control">
      <label for="genre">Genre</label>
      <input
        formControlName="genre"
        type="genre"
        placeholder="Genre"
        id="genre"
      />
      <app-error-message
        *ngIf="
          isAddAction &&
          this.bookForm.get('genre')?.invalid &&
          this.bookForm.get('genre')?.touched
        "
        [error]="'Must Enter A Genre'"
      ></app-error-message>
    </div>

    <div class="form-control">
      <label for="price">Price</label>
      <input
        formControlName="price"
        type="number"
        placeholder="Price"
        id="price"
      />
      <app-error-message
        *ngIf="
          this.bookForm.get('price')?.invalid &&
          this.bookForm.get('price')?.touched
        "
        [error]="invalidPriceMessage()"
      ></app-error-message>
    </div>
    <div class="form-control">
      <label for="imageUrl">Image Uploading</label>
      <input
        formControlName="imageUrl"
        type="imageUrl"
        placeholder="Paste an Image URL"
        id="imageUrl"
      />
      <app-error-message
        *ngIf="
          isAddAction &&
          this.bookForm.get('imageUrl')?.invalid &&
          this.bookForm.get('imageUrl')?.touched
        "
        [error]="'Must Enter An Image'"
      ></app-error-message>
    </div>
    <div class="btn-container">
      <button [disabled]="this.bookForm.invalid" type="submit" class="form-btn">
        {{ isAddAction ? "Add Book" : "Edit Book" }}
      </button>
    </div>
  </form>
</div>
