$primary-color: navy;
$desktop: 1025px;
$mobile: 768px;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 5rem);
  margin-top: 5rem;
  background-color: rgba(28, 27, 27, 0.852);
}

.book-info-container {
  width: 80%;
  height: 90%;
  display: flex;
  padding: 1rem;
  gap: 3rem;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
  .book-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    .desc-box {
      .desc-info {
        padding-left: 6rem;
      }
    }
    .line {
      width: fit-content;
      border-bottom: 1px solid lightgray;
      padding-bottom: 0.5rem;
    }

    button {
      width: 50%;
      padding-block: 0.8rem;
      border: 3px solid white;
      background: none;
      color: white;
      font-size: 1rem;
    }
  }
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
      height: 70%;
    }
  }
}
