<app-book-form
  (formData)="handleBookModRequest($event)"
  [isAddAction]="isAddModal"
  (closeModalButton)="closeModal()"
  [bookToEdit]="bookToEdit"
  class="crud-book-container"
  *ngIf="isModalOpen"
></app-book-form>

<div *ngIf="isLoading">Loading...</div>

<div class="dashboard-container" *ngIf="!isModalOpen && !isLoading">
  <p class="title">Books Maintenance</p>

  <div class="bubbles-container">
    <div class="discount-bubble bubble">
      <div>
        <p class="headline">Users Discount:</p>
        <p class="data">{{ discount }}%</p>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"
        width="30px"
        height="30px"
      >
        <path
          fill="white"
          d="M374.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-320 320c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l320-320zM128 128A64 64 0 1 0 0 128a64 64 0 1 0 128 0zM384 384a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"
        />
      </svg>
    </div>
    <div class="books-number-bubble bubble">
      <div>
        <p class="headline">Books Count:</p>
        <p class="data">{{ books.length }}</p>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        width="30px"
        height="30px"
      >
        <path
          fill="white"
          d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
        />
      </svg>
    </div>
  </div>
  <div class="books-maintenance-container">
    <div class="buttons-container">
      <div class="discount-box">
        <!-- <label for="discount">Discount </label> -->
        <fieldset>
          <legend>Discount</legend>
          <input
            type="number"
            id="discount"
            min="0"
            max="100%"
            #discountAmount
          />
        </fieldset>
        <button (click)="setDiscount(discountAmount)">Change</button>
      </div>
      <div class="add-book-container">
        <button (click)="openModel('add')">Add Book</button>
      </div>
    </div>

    <div class="books-menagement-container">
      <app-books-management
        class="books-menagement-grid"
        (editButton)="openModel('edit', $event)"
        (deleteButton)="handleBookDelete($event)"
        [books]="books"
      ></app-books-management>
    </div>
  </div>
</div>
