<app-edit-user-modal
  *ngIf="onEdit"
  (closeModalButton)="handleEdit()"
  (editForm)="handleEditForm($event)"
  [user]="admin"
  class="edit-modal-container"
></app-edit-user-modal>

<div class="admin-info-container" *ngIf="!onEdit">
  <img src="/assets/user-info-logo.png" alt="userImage" />
  <h2 *ngIf="admin">
    <span>ADMIN</span>
    <p>{{ admin.firstName }} {{ admin.lastName }}</p>
  </h2>
  <app-info
    *ngIf="admin"
    (infoBtnclick)="handleEdit()"
    [userToDisplay]="admin"
  ></app-info>
</div>
