<div class="modal-container">
  <div class="title-container">
    <h2>Edit Your Information</h2>
    <button class="close-modal-btn" (click)="handleCloseModalButton()">
      X
    </button>
  </div>

  <form
    class="edit-form"
    [formGroup]="editForm"
    (ngSubmit)="handleSubmitEditForm()"
  >
    <div class="form-control">
      <label for="firstName">First Name</label>
      <input
        formControlName="firstName"
        type="text"
        placeholder="First Name"
        id="firstName"
      />
      <!-- <app-error-message
        *ngIf="
          this.editForm.get('firstName')?.invalid &&
          this.editForm.get('firstName')?.touched
        "
        error="Must enter a first name"
      ></app-error-message> -->
    </div>

    <div class="form-control">
      <label for="lastName">Last Name</label>
      <input
        formControlName="lastName"
        type="text"
        placeholder="Last Name"
        id="lastName"
      />
      <!-- <app-error-message
        *ngIf="
          this.editForm.get('lastName')?.invalid &&
          this.editForm.get('lastName')?.touched
        "
        error="Must enter a last name"
      ></app-error-message> -->
    </div>

    <div class="form-control">
      <label for="email">Email</label>
      <input
        formControlName="email"
        type="text"
        placeholder="Email"
        id="email"
      />
      <app-error-message
        *ngIf="
          this.editForm.get('email')?.invalid &&
          this.editForm.get('email')?.touched
        "
        [error]="invalidEmailMessage()"
      ></app-error-message>
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        id="password"
      />
      <app-error-message
        *ngIf="
          this.editForm.get('password')?.invalid &&
          this.editForm.get('password')?.touched
        "
        [error]="invalidPasswordMessage()"
      ></app-error-message>
    </div>

    <div class="form-control">
      <label for="confirmPassword">Confirm Password</label>
      <input
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirm Password"
        id="confirmPassword"
      />
      <app-error-message
        *ngIf="
          this.editForm.get('confirmPassword')?.invalid &&
          this.editForm.get('confirmPassword')?.touched
        "
        [error]="invalidConfirmPasswordMessage()"
      ></app-error-message>
    </div>
    <div class="btn-container">
      <button [disabled]="this.editForm.invalid" type="submit" class="edit-btn">
        Edit
      </button>
    </div>
  </form>
</div>
